<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cookies Manipulation Test">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Bypass auth using cookies">
		<classes>
			<class name="cookieHandling.TestCases"></class>
		</classes>
	</test>
</suite>